.account-page {
    @include adaptiveValue("padding-top", 140, 70);
    // .account-page__container
    &__container {
        display: grid;
        row-gap: rem(40);
    }
    // .account-page__first-row
    &__first-row {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: rem(60);
    }
    // .account-page__profile
    &__profile {
    }
    // .account-page__my-discount
    &__my-discount {
    }
    // .account-page__second-row
    &__second-row {
    }
    // .account-page__orders
    &__orders {
    }
}
.profile {
    padding: 40px 15px;
    background-color: $mainGray;

    display: grid;
    justify-items: center;
    row-gap: rem(30);
    // .profile__image-ibg
    &__image {
        max-width: rem(200);
        max-height: rem(200);
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid $mainColor;
        img {
            width: 100%;
        }
    }
    // .profile__info
    &__info {
        font-weight: 700;
        display: grid;
        row-gap: rem(15);
    }
    // .profile__name
    &__name {
        font-size: rem(30);
        text-transform: uppercase;
    }
    // .profile__email
    &__email {
        color: $mainFontGray;
        font-size: rem(22);
    }
    // .profile__button
    &__button {
        font-size: rem(20);
        text-transform: capitalize;
    }
}

.my-discount-block {
    background-color: #202020;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    // .my-discount-block__info
    &__info {
        display: grid;
        padding: 20px;
    }
    // .my-discount-block__items
    &__items {
        align-content: start;
    }
    // .my-discount-block__level
    &__level {
        align-content: center;
    }
    // .my-discount-block__decore
    &__decore {
    }
}
.discount-items {
    display: grid;
    color: $mainBackground;
    font-weight: 500;
    @include adaptiveValue("font-size", 60, 60);
    line-height: 1.2;
    // .discount-items__title
    &__title {
        text-transform: capitalize;
    }
    // .discount-items__value
    &__value {
        font-weight: 700;
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }
    // .discount-items__spent
    &__spent {
        font-weight: 400;
        color: $mainGray;
        @include adaptiveValue("font-size", 30, 30);
    }
}
.discount-level {
    // .discount-level__line
    &__line {
        display: flex;
        justify-content: space-between;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 2px;
            background-color: $mainFontGray;
            z-index: 1;
        }
    }
    // .discount-level__active-line
    &__active-line {
        transition: width 0.6s ease 0s;
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        display: block;
        width: 0;
        height: 2px;
        background-color: $mainBackground;
    }
    // .discount-level__point
    &__point {
        color: $mainGray;
        width: 40px;
        padding-top: rem(10);
    }
}
.discount-decore {
    position: relative;
    overflow: hidden;
    // .discount-decore__block
    &__block {
        position: absolute;
    }
    // .discount-decore__block--white
    &__block--white {
        bottom: -50px;
        right: -70px;
        width: 100%;
        height: 50%;
        transform: rotate(-20deg);
        background-color: $mainBackground;
        z-index: 2;
    }
    // .discount-decore__block--grey
    &__block--grey {
        top: 0;
        right: 0;
        width: 50%;
        height: 80%;
        background-color: $mainFontGray;
    }
}

.orders-block {
    // .orders-block__title
    &__title {
    }
    // .orders-block__items
    &__items {
    }
    // .orders-block__item
    &__item {
    }
}
.order-item {
    // .order-item__name
    &__name {
    }
    // .order-item__image-ibg
    &__image-ibg {
    }
    // .order-item__price
    &__price {
    }
    // .order-item__status
    &__status {
    }
}
