.account-page {
    @include adaptiveValue("padding-top", 140, 70);
    // .account-page__container
    &__container {
        display: grid;
        row-gap: rem(40);
        @media (max-width: $tablet) {
            row-gap: rem(15);
            padding: 0;
        }
    }
    // .account-page__first-row
    &__first-row {
        display: grid;
        row-gap: rem(15);
        @media (min-width: $tablet) {
            grid-template-columns: 1fr 2fr;
        }
        @include adaptiveValue("column-gap", 60, 15, 1550, 991.98, 1);
    }
    // .account-page__profile
    &__profile {
    }
    // .account-page__my-discount
    &__my-discount {
    }
    // .account-page__second-row
    &__second-row {
    }
    // .account-page__orders
    &__orders {
    }
}
.profile {
    padding: 25px 15px;
    background-color: $mainFontGray;
    display: grid;
    justify-items: center;
    row-gap: rem(20);
    // .profile__image-ibg
    &__image {
        max-width: rem(200);
        border-radius: 50%;
        border: 2px solid $mainColor;
        img {
            width: 100%;
        }
    }
    // .profile__info
    &__info {
        display: grid;
        row-gap: rem(15);
        font-weight: 700;
        @include adaptiveValue("font-size", 25, 18);
    }
    // .profile__name
    &__name {
        text-transform: uppercase;
    }
    // .profile__email
    &__email {
    }
    // .profile__button
    &__button {
        cursor: pointer;
        @include adaptiveValue("font-size", 18, 16);
        text-transform: uppercase;
        padding: 5px 15px;
        justify-self: start;
        border: 3px solid #343434;
        color: #343434;
        transition:
            color 0.3s ease 0s,
            border 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $mainColor;
                border: 3px solid $mainColor;
            }
        }
    }
}

.my-discount-block {
    background-color: #202020;
    display: grid;
    @media (min-width: $mobileSmall) {
        grid-template-columns: 2.5fr 1fr;
    }
    // .my-discount-block__info
    &__info {
        display: grid;
        padding: 20px;
        row-gap: rem(20);
    }
    // .my-discount-block__items
    &__items {
        align-content: start;
    }
    // .my-discount-block__level
    &__level {
        align-content: center;
    }
    // .my-discount-block__decore
    &__decore {
        @media (max-width: $mobileSmall) {
            display: none;
        }
    }
}
.discount-items {
    display: grid;
    color: $mainBackground;
    font-weight: 500;
    @include adaptiveValue("font-size", 60, 40);
    line-height: 1.2;
    // .discount-items__title
    &__title {
        text-transform: capitalize;
    }
    // .discount-items__value
    &__value {
        font-weight: 700;
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
    }
    // .discount-items__spent
    &__spent {
        font-weight: 400;
        color: $mainGray;
        @include adaptiveValue("font-size", 30, 18);
        &:not(:last-child) {
            margin-bottom: rem(10);
        }
    }
    //.discount-items__to-next-level
    &__to-next-level {
        color: $mainFontGray;
        font-weight: 400;
        @include adaptiveValue("font-size", 20, 16);
    }
}
.discount-level {
    // .discount-level__line
    &__line {
        display: flex;
        justify-content: space-between;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 2px;
            background-color: $mainFontGray;
            z-index: 1;
        }
    }
    // .discount-level__active-line
    &__active-line {
        transition: width 0.6s ease 0s;
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        display: block;
        width: 0;
        height: 2px;
        background-color: $mainBackground;
    }
    // .discount-level__point
    &__point {
        color: $mainGray;
        width: 40px;
        padding-top: rem(10);
    }
}
.discount-decore {
    position: relative;
    overflow: hidden;
    // .discount-decore__block
    &__block {
        position: absolute;
    }
    // .discount-decore__block--white
    &__block--white {
        bottom: -50px;
        right: -70px;
        width: 100%;
        height: 50%;
        transform: rotate(-20deg);
        background-color: $mainBackground;
        z-index: 2;
    }
    // .discount-decore__block--grey
    &__block--grey {
        top: 0;
        right: 0;
        width: 50%;
        height: 80%;
        background-color: $mainFontGray;
    }
}

.orders-block {
    display: grid;
    row-gap: rem(40);
    background-color: #202020;
    padding: rem(30);
    @media (max-width: $mobileSmall) {
        padding: 30px 15px;
    }
    color: $mainBackground;
    // .orders-block__title
    &__title {
        @include adaptiveValue("font-size", 45, 30);
        font-weight: 500;
    }
    // .orders-block__items
    &__items {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(4, 1fr);
        }
        @media (max-width: $mobile) {
            grid-template-columns: repeat(2, 1fr);
        }
        row-gap: rem(40);
        column-gap: rem(20);
    }
    // .orders-block__item
    &__item {
    }
}
.order-item {
    display: grid;
    row-gap: rem(10);
    // .order-item__name
    &__name {
        text-transform: uppercase;
        line-height: 1.1;
        @include adaptiveValue("font-size", 22, 16);
    }
    // .order-item__image-ibg
    &__image-ibg {
        padding-bottom: percent(450, 450);
    }
    // .order-item__price
    &__price {
        @include adaptiveValue("font-size", 20, 16);
    }
    // .order-item__status
    &__status {
        font-size: rem(16);
        text-transform: capitalize;
        &._sent-order {
            color: #d6c502;
        }
        &._deliv-order {
            color: #06ab21;
        }
    }
}
